﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.small-image {
    display: block;
    width: auto;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.Free {
    background-color: #ccffcc;
}

.Reserved {
    background-color: lightgray;
}

.Lent {
    background-color: #ff7d66;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
    .input-file:focus + label,
    .input-file + label:hover {
        background-color: lightgray;
    }
    
    .input-file + label {
        color: white;
        background-color: black;
        display: inline-block;
    }





