﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Библиотека</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Books" asp-action="BookList">Список книг</a></li>
                }

            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><p class="navbar-text">Здравствуйте, @User.Identity.Name!</p></li>
                    if (User.IsInRole("Administrator"))
                    {
                        <li><a asp-controller="Account" asp-action="Administration">Управление</a></li>
                    }
                    <li><a asp-controller="Account" asp-action="Logout">Выйти</a></li>
                }
                else
                {
                    <li><p class="navbar-text">Здравствуйте, гость!</p></li>
                    <li><a asp-controller="Account" asp-action="Registration">Зарегистрироваться</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
