﻿@using TestTask.DataAccess.Entities;
@model AddUserModel

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавление пользователя</h3>
        </div>
        <div class="panel-body">
            <form asp-action="AddUser" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="Email">Введите Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">Введите имя пользователя</label>
                        <input type="text" class="form-control" asp-for="UserName" />
                        <span asp-validation-for="UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Введите пароль</label>
                        <input class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Role">Выберите роль</label>
                        <select asp-for="Role" class="form-control" title="Выберите" required="required">
                            <option value="Client">Клиент</option>
                            <option value="Librarian">Библиотекарь</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="Добавить пользователя" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>