﻿@using TestTask.DataAccess.Entities;
@model IEnumerable<User>

@{
    ViewData["Title"] = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Список пользователей</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                <th>
                    UserName
                </th>
                <th>
                    <div class="pull-right">
                        @Html.ActionLink("Добавить нового пользователя", "AddUser")
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="pull-left">
                                @Html.ActionLink("Установить пароль ", "InsertPassword", new { id = item.Id })
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Удалить пользователя", "DeleteUser", new { id = item.Id })
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>