﻿@using TestTask.DataAccess.Entities;
@model Guid

@{
    ViewData["Title"] = "InsertPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="InsertPassword" asp-controller="Account" asp-anti-forgery="true">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Установить пароль</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-xs-12">
                    <div>
                        <input type="hidden" value="@Model" name="stringId" class="form-control" />
                        <label>Введите новый пароль</label>
                        <input type="password" name="password" class="form-control col-xs-3" />
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div>
                        <input type="submit" value="Добавить" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
