﻿@model TestTask.Models.LoginModel

<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Вход на сайт</h3>
        </div>
        <div class="panel-body">
            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="UserName">Введите имя пользователя</label>
                        <input type="text" class="form-control" asp-for="UserName" />
                        <span asp-validation-for="UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Введите пароль</label>
                        <input class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

