﻿@model TestTask.Models.BookModel

@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавить книгу</h3>
        </div>
        <div class="panel-body">
            <form asp-action="AddBook" asp-controller="Books" asp-anti-forgery="true" enctype="multipart/form-data">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="Title">Введите название</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Author">Введите автора</label>
                        <input type="text" class="form-control" asp-for="Author" />
                        <span asp-validation-for="Author" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Genre">Введите жанр</label>
                        <input type="text" class="form-control" asp-for="Genre" />
                        <span asp-validation-for="Genre" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Publisher">Введите издателя</label>
                        <input type="text" class="form-control" asp-for="Publisher" />
                        <span asp-validation-for="Publisher" />
                    </div>
                    <div class="form-group">
                        <input type="file" asp-for="Picture" class="form-control" />
                    </div>
                    <div>
                        <input type="submit" value="Добавить" class="btn btn-default" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


