﻿@using TestTask.DataAccess.Entities
@using TestTask.DataAccess.Enums
@model IEnumerable<TestTask.Models.BookModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="form-group field-middle_name row">
        <div class="form-group" role="search">
            <div class="col-xs-2 no-padding">
                <select name="searchBy" id="searchBy" class="form-control" title="Выберите" required="required">
                    <option value="title">По названию</option>
                    <option value="author">По автору</option>
                    <option value="genre">По жанру</option>
                    <option value="publisher">По издателю</option>
                </select>
            </div>
            <div class="col-xs-5 no-padding">
                <input type="text" class="form-control" name="value" id="value" placeholder="Поиск">
            </div>
            <div class="col-xs-2 no-padding pull-left">
                <button type="submit" class="btn btn-default">Найти книгу</button>
            </div>
            @if (User.IsInRole(Role.Librarian))
            {
                <div class="col-xs-2 no-padding pull-right">
                    <a asp-action="AddBook" class="btn btn-default">Добавить книгу</a>
                </div>
            }
        </div>
    </div>
</form>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Список книг</div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@item.State">
                        <td>
                            @if (item.SavedImageInfo.FileName != null)
                            {
                                <div>
                                    <img class="small-image" src="/images/@item.SavedImageInfo.FileName" alt="@item.SavedImageInfo.FileName" />
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>

                            @if (item.State == BookState.Free)
                            {
                                <div>Свободна</div>
                            }
                            else if (item.State == BookState.Reserved)
                            {
                                <div>Забронирована</div>
                            }
                            else
                            {
                                <div>Отдана</div>
                            }
                        </td>
                        <td>
                            <div class="pull-right">
                                @if (User.IsInRole(Role.Client))
                                {
                                    @if (item.State == BookState.Free)
                                    {
                                        @Html.ActionLink("Забронировать", "MakeReservation", new { id = item.Id })
                                    }
                                    else if (item.State == BookState.Reserved && User.Identity.Name == item.ReservatorName)
                                    {
                                        @Html.ActionLink("Разбронировать", "UndoReservation", new { id = item.Id })
                                    }
                                }
                                @if (User.IsInRole(Role.Librarian))
                                {
                                    if (item.State == BookState.Reserved)
                                    {
                                        @Html.ActionLink("Выдать книгу", "Lend", new { id = item.Id })
                                    }
                                    else if (item.State == BookState.Lent)
                                    {
                                        @Html.ActionLink("Забрать книгу", "TakeBack", new { id = item.Id })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
                                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>