﻿@model TestTask.Models.BookModel

@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Редактирование книги</h3>
        </div>
        <div class="panel-body">
            <form asp-action="Edit" asp-controller="Books" asp-anti-forgery="true" enctype="multipart/form-data">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" asp-for="SavedImageInfo.Path" />
                        <span asp-validation-for="SavedImageInfo.Path" />
                    </div>
                    <div>
                        @if (Model.SavedImageInfo.FileName != null)
                        {
                            <img class="small-image" src="/images/@Url.Content(Model.SavedImageInfo.FileName)" alt="@Model.SavedImageInfo.FileName" />
                            <div class="text-center">
                                @Html.ActionLink("Удалить изображение", "DeleteImage", new { id = Model.SavedImageInfo.Id })
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Название</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Author">Автор</label>
                        <input type="text" class="form-control" asp-for="Author" />
                        <span asp-validation-for="Author" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Genre">Жанр</label>
                        <input type="text" class="form-control" asp-for="Genre" />
                        <span asp-validation-for="Genre" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Publisher">Издатель</label>
                        <input type="text" class="form-control" asp-for="Publisher" />
                        <span asp-validation-for="Publisher" />
                    </div>
                    <div class="form-group">
                        <input type="file" asp-for="Picture" class="btn btn-default" />
                    </div>
                    <div>
                        <input type="submit" value="Подтвердить" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
